* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
height:  100vh;
background: url("../images/header-bg-desktop.png") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
.header-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(17, 17, 17, 0.8);
}
.nav-padding{
  left: 8rem;
}
.nav-right{
  margin-left: auto;
  margin-right: 10rem!important;
}
.link-white{
  color: #ffffff;
  padding-right: 2rem!important;
}
.header-title{
  max-width: 40%;
  position: absolute;
  top: 40%;
  left: 10rem;
  margin: auto;
  z-index: 99;
  color: rgba(255, 255,255, 0.5);
}
.header-title h4{
  color: #ffffff;
}
.header-title a{
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #000000;
  border-radius: 5px;

}
.about{
  background-color: #F5F2F2;
  padding:4rem 6rem ;
}
.exp, .education{
  border: 1px solid #000000;
  border-radius: 5px;
  padding-top: 2rem;
  width: 90%!important;
}
.exp-item, .education-item{
  display: flex;
  justify-content: center;
}
.exp span::after{
  content: '\00BB';
  display: inline;
}
.progress-body{background-color:#ffffff;
  border-radius:0px;}
.progress-bar-content{background-color:#000000;
}
.bar-web{
  width:96%
  }
.bar-internet{
  width:70%
  }
.bar-responsive{
  width:100%
  }
.bar-wordpress{
  width:60%
  }
.project-client-row{display:flex;
  justify-content: space-around;}


.portfolio{
  background: #F9F4F4;
  margin-left: auto;
  margin-right: auto;
}
.port-div img{
  width: 100%;
}
.port-tittle{
  position: absolute;
}








@media only screen and (max-width:576px){
header{
  height: 100vh;
  background: url("../images/header-bg-mobile.png") center no-repeat;
  background-size: 100%;
  background-position: top;
  background-position-x: 0px;
  background-position-y: 0px;
}
.header-title{
  margin-top: auto;
  margin-left: 4rem;
  margin-bottom: auto;
  position: absolute;
}
.link-white{
  color: #ffffff;
}
}
