* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
height:  100vh;
background: url("../images/header-bg-desktop.png") no-repeat center center;
background-size: 100% 100%;
overflow: hidden;
}
.header-overlay{
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(17, 17, 17, 0.8);
}

.nav-right{
  margin-left: auto;
  margin-right: 0!important;
}
.link-white{
  color: #ffffff;
  padding-right: 2rem!important;
}
.header-title{
  max-width: 40%;
  position: absolute;
  top: 40%;
  z-index: 99;
  color: rgba(255, 255,255, 0.5);
}
.header-title h4{
  color: #ffffff;
}
.header-title a{
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #000000;
  border-radius: 5px;

}
.about{
  background-color: #F5F2F2;
  padding:4rem auto;
}
.exp-education{
  padding-bottom: 1rem;
}
.exp, .education{
  border: 1px solid #000000;
  border-radius: 5px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: auto!important;
}
.exp-item, .education-item{
  display: flex;
  justify-content: center;
}
.exp span::after{
  content: '\00BB';
  display: inline;
}
.skills{width:65%}
.progress{
  height: 20px;
}
.progress-body{background-color:#ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius:0px;
  margin-bottom: 0.5rem;}
.progress-bar-content{background-color:#000000;
}
.bar-web{
  width:96%
  }
.bar-marketing{
  width:70%
  }
.bar-responsive{
  width:100%
  }
.bar-wordpress{
  width:60%
  }
.project-client-row{display:flex;
  justify-content: space-around;
padding-top:2rem;}


.portfolio{
  background: #F9F4F4;
  margin-left: auto;
  margin-right: auto;
}
.port-div:nth-child(odd){
  padding-right:4rem ;
}
.port-div:nth-child(even){
  padding-left: 4rem;
}
.port-div-cont{
  padding-bottom: 4rem;
}
.port-div-cont img{
  width: 100%!important;
  height: auto;
  display: block;
}

.port-title{
  position: absolute;
  bottom: 40%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.port-title h4 span{
  font-size: 18px;
  padding: .5rem 1rem;
  background-color: #000000;
  color: #FFFFFF;
}


.recent-blogs{

  background: #F5F2F2;
}
.carousel-row{
  display: flex;
  justify-content: space-between;
}
.carousel-cap{
  text-align: center;
}

.contact{
  background-color: #FFFFFF;
  padding: 2rem auto;
  color: #000000;
}
.contact h4{
  text-align: center;
  font-weight: 900;
}
.contact p{
  text-align: center;
}
.contact-info-form{
  padding-top: 2rem;
}
.email, .phone{
  padding-bottom: 1.5rem;
}
.social-icons{
  padding-top: 1rem;
}
.social-icons li{
  display: inline;
  list-style-type: none;
  padding-right: 1.5rem;
}

.cont-input, .cont-textarea, .cont-submit{
  padding-bottom: 1rem;
}
.cont-input>input, .cont-textarea>textarea{
  width: 100%;
  border: .5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 0.5rem 0;
  padding-left: 0.5rem;
}
.cont-submit>input{
  border-radius: 0;
  background-color: #000000;
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  border: 1px solid #000000;
}

.footer{background-color:#0B0B0B;
padding:2rem 0; margin-bottom:0!important}
footer>p{text-align: center;
color:#FFFFFF;}






@media only screen and (max-width:576px){
header{
  height: 100vh;
  background: url("../images/header-bg-mobile.png")no-repeat center center;
  background-size: 100% 100%;;
}
.header-title{
  margin-top: auto;
  margin-left: 4rem;
  margin-bottom: auto;
  position: absolute;
}
.link-white{
  color: #ffffff;
}
}
